
<h1>Book Edit Page</h1>

<% if @book.errors.any? %>
    <ul>
        <% @book.errors.full_messages.each do |msg| %>
            <li>
                <%= msg %>
            </li>
        <% end %>
    </ul>
<% end %>
<%= form_with(model: @book, url: book_path, method: :patch ) do |form| %>
     <div>
        <%= form.label :title %>
        <br>
        <%= form.text_field :title %>
    </div>
    
    <div>
        <%= form.label :image_url %>
        <br>
        <%= form.text_field :image_url %>
    </div>
    <div>
        <%= form.label :introduction %>
        <br>
        <%= form.text_area :introduction, cols: 50, rows: 5 %>
    </div>
    
    <div>
        <%= form.label :genre %>
        <br>
        <%= form.text_field :genre %>
    </div>

 
    <%= form.submit "Update Book" %>
     
<% end %>