<h1>Book Page</h1>
<img src='<%= @book.image_url %>' alt=''>
<h2><%= @book.title %></h2>
 
<h1><%= @book.avg_rating %> <%= fa_icon "star" %></h1> 
<p><%= @book.introduction %></p>

<p><small>Created at: <%= @book.created_at %></small></p>
<label>Created by: <%= @book.user.full_name%> </label>

 <%= form_with(model:[@book, @rating], url: book_ratings_path(@book)) do |f|%>
    <%= f.select :rate, [ ["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5]] %>
        <br>
        <%= f.submit "Rate" , class:"btn btn-primary" %>
    <% end %>

<% if can? :crud, @book %>    
    <%= button_to 'Edit', edit_book_path(@book), method: :get %>
    <%= button_to 'Delete', book_path(@book), method: :delete, data: { confirm: 'Are you sure?'} %>
<% end %>




<hr>
    <ul>
        <% @reviews.each do |review| %>
        <div>
            <li>
                <div>
                    <%= review.body%>
                </div>
                <div>
                    <small>reviewed <%= time_ago_in_words(review.created_at) %> ago by <label>Created by: <%= review.user.full_name%> </label>
                    </small>
                </div>
                <div>
                    <% if can? :crud, review %>
                        <%= button_to "Delete", book_review_path(@book.id, review.id), method: :delete %>
                        <%= button_to 'Edit', edit_book_review_path(@book.id, review.id), method: :get , class:"btn btn-primary"%>
                    <% end %>                        
                </div>
            </li>                
        </div>
            <br>
        <% end %>
    </ul>

<h4>Write your review</h4>

    <%= form_with(model:[@book, @review]) do |f|%>
        <div>
            <%= f.label :body%>
            <br>
            <%= f.text_area :body, cols:50, rows: 2 ,class:"form-control" %>
        </div>
        <%#= f.select :approval, ["Nil", "Pending"] %>
        <%= f.select :approval, [["Nil", "Nil"], ["Pending", "Pending"], ["Approved", "Approved"], ["Rejected", "Rejected"]] %>
        <br>
        <%= f.submit "send" , class:"btn btn-primary" %>
    <% end %>  
