<!DOCTYPE html>
<html>
  <head>
    <title>BookClub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="nav justify-content-end bg-info p-1 text-dark bg-opacity-15">
      <li class="nav-item">
          <a href="/panel_reader" class="nav-link">Reader</a>
      </li>
       <li class="nav-item">
          <a href="/panel_author" class="nav-link">Author</a>
      </li>
    </nav>
    <ul class="nav justify-content-between bg-info p-1 text-dark bg-opacity-25">
      <div>
        <li class="nav-item">
          <a class="nav-link border border-secondary rounded border border-2" href="/">Book Club</a>
        </li>      
      </div>
      <div class="d-flex ">
        <li class="nav-item">
          <a class="nav-link" href="/books">Book Collection</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/books/new">Add a new Book</a>
        </li>
        <li class="nav-item">
          <%if(user_signed_in?) %>
          <div class="d-flex">
            <div class="align-self-center">
              Hello <%= current_user.full_name%> 
            </div>
            <div class="p-1">
              <%= button_to "Log out", sessions_path, method: :delete, class:"btn btn-info" %>
            </div>         
          </div>
          <% else %>
            <div class="d-flex">
              <div class="p-2">
                <a href="/sessions/new">Sign In Page</a>
              </div>
              <div class="align-self-center">
                <a href="/users/new">Sign Up</a>
              </div>         
            </div>

          <% end %>        
        </li>      
      </div>

    </ul>
    <%= yield %>
  </body>
</html>
